﻿<section class="services" id="about">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h2>О комплексе</h2>
                <hr class="small">
                <p>
                    Современный, яркий комплекс выполненый в европейской композиции,
                    объединяющая 2 дома переменной этажности.
                    <br/>
                    Интерьеры холов оформленны
                    по индивидуальным проектам, а из подземного паркинга лифт доставит вас
                    прямо к дверям квартиры.
                    <br/>
                    Охраняемая територия с детскими игровыми площадками и прогулочной зоной.
                    Для удобства и комфорта жителей квартала на первых этажах распологаются
                    коммерческие помещения под магазины и кафе.								
                </p>
            </div>
        </div>
    </div>
</section>