﻿<section id="decorations" class="decorations">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2>Отделка</h2>
                <hr class="small">
                <div class="row">
                    <div class="col-md-6 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="decorations" href="img/malevich/decorations/decoration1.jpg">
                                <img class="img-layouts img-responsive"  src="img/malevich/decorations/decoration1.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>Отделка</b></h3>
                            <p>Установка входной металлической двери</p>
                            <p>Стяжка пола в комнатах, на балконе, гидроизоляция в санузлах</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="decorations" href="img/malevich/decorations/decoration2.jpg">
                                <img class="img-layouts img-responsive"  src="img/malevich/decorations/decoration2.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>Коммуникации</b></h3>
                            <p>Горизонтальная разводка труб теплоснабжения в стяжке</p>
                            <p>Установка радиаторов отопления</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="decorations" href="img/malevich/decorations/decoration3.jpg">
                                <img class="img-layouts img-responsive"  src="img/malevich/decorations/decoration3.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>Остекление</b></h3>
                            <p>Установка стеклопакетов и подоконников</p>
                            <p>Остекление балкона/лоджии</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="decorations" href="img/malevich/decorations/decoration6.jpg">
                                <img class="img-layouts img-responsive"  src="img/malevich/decorations/decoration6.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>Счетчики</b></h3>
                            <p>Установка счетчиков холодной и горячей воды</p>
                            <p>Установка счетчиков электроснабжения</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>