﻿<header id="top" class="header main-page-header">
    <div class="text-vertical-center">
        <h1>Жилой квартал Новаторов</h1>
        <br>
        <a href="#about" class="btn btn-dark btn-lg">Подробнее</a>
    </div>
</header>