﻿<section id="layouts" class="layouts">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2>Планировки</h2>
                <hr class="small">
                <div class="row">
                    <div class="col-md-4 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="layouts" href="~/img/novatorov/layouts/1k-36_3.jpg">
                                <img class="img-layouts img-responsive"  src="~/img/novatorov/layouts/1k-36_3.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>1-комнатная квартира</b></h3>
                            <p>Площадь - 36.3 м²</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="layouts" href="~/img/novatorov/layouts/1k-36_5.jpg">
                                <img class="img-layouts img-responsive" src="~/img/novatorov/layouts/1k-36_5.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>1-комнатная квартира</b></h3>
                            <p>Площадь - 36.5 м²</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="layouts" href="~/img/novatorov/layouts/1k-36_9.jpg">
                                <img class="img-layouts img-responsive" src="~/img/novatorov/layouts/1k-36_9.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>1-комнатная квартира</b></h3>
                            <p>Площадь - 36.9 м²</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="layouts" href="~/img/novatorov/layouts/1k-41_3.jpg">
                                <img class="img-layouts img-responsive" src="~/img/novatorov/layouts/1k-41_3.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>1-комнатная квартира</b></h3>
                            <p>Площадь - 41.3 м²</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="layouts" href="~/img/novatorov/layouts/1k-49_5.jpg">
                                <img class="img-layouts img-responsive" src="~/img/novatorov/layouts/1k-49_5.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>1-комнатная квартира</b></h3>
                            <p>Площадь - 49.5 м²</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="layouts" href="~/img/novatorov/layouts/1k-50_0.jpg">
                                <img class="img-layouts img-responsive" src="~/img/novatorov/layouts/1k-50_0.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>1-комнатная квартира</b></h3>
                            <p>Площадь - 50 м²</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="layouts" href="~/img/novatorov/layouts/2k-60_6.jpg">
                                <img class="img-layouts img-responsive" src="~/img/novatorov/layouts/2k-60_6.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>2-комнатная квартира</b></h3>
                            <p>Площадь - 60.6 м²</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="layouts" href="~/img/novatorov/layouts/2k-61_3.jpg">
                                <img class="img-layouts img-responsive" src="~/img/novatorov/layouts/2k-61_3.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>2-комнатная квартира</b></h3>
                            <p>Площадь - 61.3 м²</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="layouts" href="~/img/novatorov/layouts/2k-67_7.jpg">
                                <img class="img-layouts img-responsive" src="~/img/novatorov/layouts/2k-67_7.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>2-комнатная квартира</b></h3>
                            <p>Площадь - 67.7 м²</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="layouts" href="~/img/novatorov/layouts/2k-72_1.jpg">
                                <img class="img-layouts img-responsive" src="~/img/novatorov/layouts/2k-72_1.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>2-комнатная квартира</b></h3>
                            <p>Площадь - 72.1 м²</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="layouts" href="~/img/novatorov/layouts/2k-72_3.jpg">
                                <img class="img-layouts img-responsive" src="~/img/novatorov/layouts/2k-72_3.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>2-комнатная квартира</b></h3>
                            <p>Площадь - 72.3 м²</p>
                        </div>
                    </div>

                    <div class="col-md-4 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="layouts" href="~/img/novatorov/layouts/2k-75_7.jpg">
                                <img class="img-layouts img-responsive" src="~/img/novatorov/layouts/2k-75_7.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>2-комнатная квартира</b></h3>
                            <p>Площадь - 75.7 м²</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="layouts" href="~/img/novatorov/layouts/3k-88_2.jpg">
                                <img class="img-layouts img-responsive" src="~/img/novatorov/layouts/3k-88_2.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>3-комнатная квартира</b></h3>
                            <p>Площадь - 88.2 м²</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="layouts" href="~/img/novatorov/layouts/st-30_2.jpg">
                                <img class="img-layouts img-responsive" src="~/img/novatorov/layouts/st-30_2.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>Квартира-студия</b></h3>
                            <p>Площадь - 30.2 м²</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="layouts" href="~/img/novatorov/layouts/st-35_8.jpg">
                                <img class="img-layouts img-responsive" src="~/img/novatorov/layouts/st-35_8.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>Квартира-студия</b></h3>
                            <p>Площадь - 35.8 м²</p>
                        </div>
                    </div>

                </div>
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>