﻿<section class="services" id="map">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h2>Расположение комплекса на карте</h2>
                <hr class="small">
            </div>
        </div>
    </div>
    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aff635b5591960680f00a3e16d2cb640fd7e651bbd84c4be9868b12a2550aa428&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
</section>