﻿<section id="decorations" class="decorations">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2>Район</h2>
                <hr class="small">
                <div class="row">
                    <div class="col-md-6 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="decorations" href="~/img/novatorov/photo/photo3.jpg">
                                <img class="img-layouts img-responsive"  src="~/img/novatorov/photo/photo3.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>INNOVATION</b></h3>
                            <p>Идея в каждом квадратном метре.</p>
                            <p>Современные технологии и материалы. Энергоэфективность.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="decorations" href="~/img/novatorov/photo/photo2.jpg">
                                <img class="img-layouts img-responsive" src="~/img/novatorov/photo/photo2.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>FAMILY</b></h3>
                            <p>Семейная инфрастуктура.</p>
                            <p>Десткие сады и школы, магазины, спортивные площадки.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="decorations" href="~/img/novatorov/photo/photo4.jpg">
                                <img class="img-layouts img-responsive" src="~/img/novatorov/photo/photo4.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>Комфорт жизни</b></h3>
                            <p>Удобное месторасположение, уникальная архитектура европейского стиля и развитая инфрастуктура для комфортного проживания.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="decorations" href="~/img/novatorov/photo/photo5.jpg">
                                <img class="img-layouts img-responsive" src="~/img/novatorov/photo/photo5.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>Транспортная доступность</b></h3>
                            <p>15 минут ходьбы до метро.</p>
                            <p>2 минуты ходьбы до ближайщей остановки общественного траспорта.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>