﻿<!-- Modal -->
<div class="modal fade" id="callback" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-group">
                    <label for="usr">Ваше имя</label>
                    <input type="text" class="form-control" id="name">
                </div>
                <div class="form-group">
                    <label for="pwd">Ваш телефон</label>
                    <input type="text" class="form-control" id="phone">
                </div>
            </div>
            <div class="text-center">
                    <h5>Мы не передаем Вашу персональную информацию третьим лицам </h5>
            </div>
            <div class="modal-footer">
                <a href="#" id="saveButton" class="btn btn-dark btn-lg">Заказать звонок</a>
                <div class="loader-container btn btn-dark btn-lg" style="display:none; width: 165px; padding-left: 71px;"><div class="loader"></div></div>
            </div>
        </div>
    </div>
</div>
<script>
    $('#saveButton').click(function (e) {
        e.preventDefault();
        var name = $('#name').val();
        var phone = $('#phone').val();
        var loader = '';
        $('#saveButton').hide();
        $('.loader-container').show();

        $.ajax({
            url: "/Home/SaveCall",
            type: "POST",
            data: { name : name, phone: phone},
            traditional: true,
            dataType: "json"
        }).done(function(data){
            $('#callback').modal('toggle');
            $('#saveButton').show();
            $('.loader-container').hide();
        });
    });
</script>