﻿<section id="tabs" class="tabs" style="min-height:550px; margin-top: 80px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2>Поселиться в жилом комплексе не сложно. Стоит только захотеть. Выберите удобную схему оплаты.  </h2>
                <hr class="small">
                <div class="panel-heading">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab1default" data-toggle="tab">Ипотека</a></li>
                        <li><a href="#tab2default" data-toggle="tab">Рассрочка</a></li>
                        <li><a href="#tab3default" data-toggle="tab">Trade in</a></li>
                    </ul>
                </div>
                <div class="row">
                    <div class="tab-content col-lg-10 col-lg-offset-1">
                        <div class="tab-pane fade in active row" id="tab1default">
                            <div class="col-md-6 col-xs-6 ">
                                <div class="layouts-item">
                                    <a >
                                        <img class="img-layouts img-responsive" src="~/img/main/ipoteka.png">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-6 ">
                                <div class="caption">
                                    <h3><b>Ставка от 10%</b></h3>
                                    <p>
                                        <ul class="text-left font-size-large">
                                            <li>
                                                Бесплатные консультации и квалифицированная помощь в оформлении ипотеки.
                                            </li>
                                            <li>
                                                1 пакет документов для всех банков
                                            </li>
                                            <li>
                                                Получим ипотечное решение за 1 день
                                            </li>
                                            <li>
                                                Первоначальный взнос от 0%²
                                            </li>
                                        </ul>                                            
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade in row" id="tab2default">
                            <div class="col-md-6 col-xs-6 ">
                                <div class="layouts-item">
                                    <a>
                                        <img class="img-layouts img-responsive" src="~/img/main/srok.jpg">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-6 ">
                                <div class="caption">
                                    <h3><b>Беспроцентная рассрочка</b></h3>
                                    <p>
                                        <ul class="text-left font-size-large">
                                            <li>
                                                Без процентная рассрочка до конца строительства.
                                            </li>
                                            <li>
                                                Условия рассрочки уточняйте у менеджера.
                                            </li>
                                            <li>
                                                Условия рассрочки для каждого клиента индивидуальны.
                                            </li>
                                            <li>
                                                Потвеждать доход нет необходимости, мы вам доверяем.
                                            </li>
                                        </ul>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade in row" id="tab3default">
                            <div class="col-md-6 col-xs-6 ">
                                <div class="layouts-item">
                                    <a>
                                        <img class="img-layouts img-responsive" src="~/img/main/tradein.jpg">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-6 ">
                                <div class="caption">
                                    <h3><b>Обмен</b></h3>
                                    <p>
                                        <ul class="text-left font-size-large">
                                            <li>
                                                Вы сможете обменять квартиру на выбранную квартиру у застройщика
                                            </li>
                                            <li>
                                                Вам не нужно трать время на поиск покупателя
                                            </li>
                                            <li>
                                                Услуга обмена квартир абсолютна бессплатна
                                            </li>
                                            <li>
                                                Вы не погасили еще ипотеку? не проблема, выкуп квартир возможен с обременением
                                            </li>
                                        </ul>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                </div>
                <div class="col-md-2 col-lg-offset-5">
                    <p><a href="#" class="btn btn-dark btn-lg" data-toggle="modal" data-target="#callback" style="max-width:180px">Заказать звонок</a></p>
                </div>
                
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>