﻿<section class="services" id="about">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h2>О комплексе</h2>
                <hr class="small">
                <p>
                    Жилой комплекс "Светлый" находится в районе Уктус на Кольцовском тракте.
                    Приобрести квартиру от застройщика "ТЭН" в ЖК "Светлый" можно, нужно только захотеть и выбрать удобную систему оплаты для вас: наличные, ипотека, рассрочка.
                    С планировками можно ознакомиться на нашем портале, цены и наличие уточняйте у менеджера. <br />
                    Проектную декларацию вы можете найти на официальном сайте застройщика "ТЭН".
                    Портал ,,, является официальным партнером застройщика "ТЭН".
                    На нашем сайте Вы так же можете ознакомиться с другими новостройками от надежных застройщиков Екатеринбурга.  															
                </p>
            </div>
        </div>
    </div>
</section>