﻿<section id="decorations" class="decorations">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2>Отделка</h2>
                <hr class="small">
                <div class="row">
                    <div class="col-md-6 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="decorations" href="~/img/svetly/decor/floor.jpg">
                                <img class="img-layouts img-responsive"  src="~/img/svetly/decor/floor.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>Стены и пол.</b></h3>
                            <p>Стяжка пола в комнатах. Подложка. Постелен ламинат и плинтуса.</p>
                            <p>Оштукатуривание стен. Поклеены обои под покраску</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12 ">
                        <div class="layouts-item">
                            
                            <a data-lightbox="decorations" href="~/img/svetly/decor/water.jpg">
                                <img class="img-layouts img-responsive" src="~/img/svetly/decor/water.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>Трубы и счетчики</b></h3>
                            <p>Горизонтальная разводка труб теплоснабжения в стяжке. Установка радиаторов отопления. Установка счетчиков холодной и горячей воды</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="decorations" href="~/img/svetly/decor/electro.jpg">
                                <img class="img-layouts img-responsive" src="~/img/solnechny/electro.jpg">
                            </a>                            
                        </div>
                        <div class="caption">
                            <h3><b>Электроснабжение</b></h3>
                            <p>Разводка электроснабжения по квартире, вывод разеток и включателей.</p>
                            <p>Установка счетчиков электроснабжения. Установленны розетки и выключатели света.</p>
                        </div>
                    </div>
                    
                    <div class="col-md-6 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="decorations" href="~/img/svetly/decor/window.jpg">
                                <img class="img-layouts img-responsive" src="~/img/svetly/decor/window.jpg">
                            </a>                              
                        </div>
                        <div class="caption">
                            <h3><b>Окна и двери</b></h3>
                            <p>Установка стеклопакетов и подоконников. Остекление балкона/лоджии.
                            Установка межкомнатных и входной металлической двери</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>