﻿<section id="layouts" class="layouts">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2>Планировки</h2>
                <hr class="small">
                <div class="row">
                    <div class="col-md-4 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="layouts" href="~/img/svetly/layouts/1k-39,4.jpg">
                                <img class="img-layouts img-responsive"  src="~/img/svetly/layouts/1k-39,4.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>1-комнатная квартира</b></h3>
                            <p>Площадь - 39.4 м²</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="layouts" href="~/img/svetly/layouts/1k-43,4.jpg">
                                <img class="img-layouts img-responsive" src="~/img/svetly/layouts/1k-43,4.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>1-комнатная квартира</b></h3>
                            <p>Площадь - 43.4 м²</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="layouts" href="~/img/svetly/layouts/1k-44,3.jpg">
                                <img class="img-layouts img-responsive" src="~/img/svetly/layouts/1k-44,3.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>1-комнатная квартира</b></h3>
                            <p>Площадь - 44.3 м²</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="layouts" href="~/img/svetly/layouts/1k-45,2.jpg">
                                <img class="img-layouts img-responsive" src="~/img/svetly/layouts/1k-45,2.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>1-комнатная квартира</b></h3>
                            <p>Площадь - 45.2 м²</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="layouts" href="~/img/svetly/layouts/1k-45,5-2.jpg">
                                <img class="img-layouts img-responsive" src="~/img/svetly/layouts/1k-45,5-2.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>1-комнатная квартира</b></h3>
                            <p>Площадь - 45.5 м²</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="layouts" href="~/img/svetly/layouts/1k-45,5.jpg">
                                <img class="img-layouts img-responsive" src="~/img/svetly/layouts/1k-45,5.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>1-комнатная квартира</b></h3>
                            <p>Площадь - 45.5 м²</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="layouts" href="~/img/svetly/layouts/1k-45,55.jpg">
                                <img class="img-layouts img-responsive" src="~/img/svetly/layouts/1k-45,55.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>1-комнатная квартира</b></h3>
                            <p>Площадь - 45.55 м²</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="layouts" href="~/img/svetly/layouts/1k-45,6.jpg">
                                <img class="img-layouts img-responsive" src="~/img/svetly/layouts/1k-45,6.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>1-комнатная квартира</b></h3>
                            <p>Площадь - 45.6 м²</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="layouts" href="~/img/svetly/layouts/2k-53,4.jpg">
                                <img class="img-layouts img-responsive" src="~/img/svetly/layouts/2k-53,4.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>2-комнатная квартира</b></h3>
                            <p>Площадь - 53.4 м²</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="layouts" href="~/img/svetly/layouts/2k-57,4.jpg">
                                <img class="img-layouts img-responsive" src="~/img/svetly/layouts/2k-57,4.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>2-комнатная квартира</b></h3>
                            <p>Площадь - 57.4 м²</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="layouts" href="~/img/svetly/layouts/2k-59,2.jpg">
                                <img class="img-layouts img-responsive" src="~/img/svetly/layouts/2k-59,2.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>2-комнатная квартира</b></h3>
                            <p>Площадь - 59.2 м²</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="layouts" href="~/img/svetly/layouts/2k-63,1.jpg">
                                <img class="img-layouts img-responsive" src="~/img/svetly/layouts/2k-63,1.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>2-комнатная квартира</b></h3>
                            <p>Площадь - 63.1 м²</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="layouts" href="~/img/svetly/layouts/st-29,5.jpg">
                                <img class="img-layouts img-responsive" src="~/img/svetly/layouts/st-29,5.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>Квартира студия</b></h3>
                            <p>Площадь - 29.5 м²</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="layouts" href="~/img/svetly/layouts/st-29,6.jpg">
                                <img class="img-layouts img-responsive" src="~/img/svetly/layouts/st-29,6.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>Квартира студия</b></h3>
                            <p>Площадь - 29.6 м²</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="layouts" href="~/img/svetly/layouts/st-29,8.jpg">
                                <img class="img-layouts img-responsive" src="~/img/svetly/layouts/st-29,8.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>Квартира студия</b></h3>
                            <p>Площадь - 29.8 м²</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="layouts" href="~/img/svetly/layouts/st-30,2-1.jpg">
                                <img class="img-layouts img-responsive" src="~/img/svetly/layouts/st-30,2-1.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>Квартира студия</b></h3>
                            <p>Площадь - 30.2 м²</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="layouts" href="~/img/svetly/layouts/st-30,2.jpg">
                                <img class="img-layouts img-responsive" src="~/img/svetly/layouts/st-30,2.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>Квартира студия</b></h3>
                            <p>Площадь - 30.2 м²</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="layouts" href="~/img/svetly/layouts/st-30.jpg">
                                <img class="img-layouts img-responsive" src="~/img/svetly/layouts/st-30.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>Квартира студия</b></h3>
                            <p>Площадь - 30 м²</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="layouts" href="~/img/svetly/layouts/st-43,5.jpg">
                                <img class="img-layouts img-responsive" src="~/img/svetly/layouts/st-43,5.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>Квартира студия</b></h3>
                            <p>Площадь - 43.5 м²</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>