﻿<section class="services" id="map">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h2>Расположение комплекса на карте</h2>
                <hr class="small">
            </div>
        </div>
    </div>
    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ae8188a0ea010618f59615b2f45b2071055a855c6c73635432ac94843453fc779&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
 </section>