﻿<section class="services" id="partnerInfo">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h2>Партнерская информация</h2>
                <p>
                    Жилой комплекс "Светлый" находится в районе Уктус на Кольцовском тракте.
                    <br>
                    Приобрести квартиру от застройщика "ТЭН" в ЖК "Светлый" можно, нужно только захотеть и выбрать удобную систему оплаты для вас: наличные, ипотека, рассрочка.
                    <br>
                    С планировками можно ознакомиться на нашем портале, цены и наличие уточняйте у менеджера. Проектную декларацию вы можете найти на официальном сайте застройщика "ТЭН".
                    <br>
                    Портал "Он-лайн Недвижимость" является официальным партнером застройщика "ТЭН".
                    <br>
                    На нашем сайте Вы так же можете ознакомиться с другими новостройками от надежных застройщиков Екатеринбурга.
                </p>
            </div>
        </div>
    </div>
</section>