﻿<section id="decorations" class="decorations">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2>Район</h2>
                <hr class="small">
                <div class="row">
                    <div class="col-md-6 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="decorations" href="~/img/svetly/photo/eco.jpg">
                                <img class="img-layouts img-responsive"  src="~/img/svetly/photo/eco.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>Ecology</b></h3>
                            <p>Экологически чистый район</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="decorations" href="~/img/svetly/photo/arc.jpg">
                                <img class="img-layouts img-responsive" src="~/img/svetly/photo/arc.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>Life - комфорт жизни.</b></h3>
                            <p>Уникальная архитектура европейского стиля</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="decorations" href="~/img/svetly/photo/cat.jpg">
                                <img class="img-layouts img-responsive" src="~/img/svetly/photo/cat.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>INNOVATION</b></h3>
                            <p>Собственная газовая кательня. Современные технологии и материалы. Энергоэфективность.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="decorations" href="~/img/svetly/photo/family.jpg">
                                <img class="img-layouts img-responsive" src="~/img/svetly/photo/family.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b> Family</b></h3>
                            <p>Семейная инфрастуктура детские сады, магазины, спортивные площадки</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>