﻿<section class="services" id="about">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h2>О комплексе</h2>
                <hr class="small">
                <p>
                    Шишимская горка это: современный яркий комплекс выполненый в европейском стиле компанией застройщика "Брусника".<br/>
                    Жилой комплекс будет  предстовлять собой охват большой територии под строительство, с огороженной територией, подземным паркингом.
                    На терретории комплекса будут распологаться детские и спортивные площадки разной возрасной категории, велодорожкой протяжонностью около 8 км.<br />
                    По переметру комплекса будет расспологаться гоствевой паркинг, а коммерческие помещения на первых этажах создадут внутренюю инфрастуктуру, комфорт и разнообразие досуга жителей микрарайона.										
                </p>
            </div>
        </div>
    </div>
</section>