﻿<section id="layouts" class="layouts">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2>Планировки</h2>
                <hr class="small">
                <div class="row">
                    <div class="col-md-4 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="layouts" href="~/img/shishim/layouts/1k-38,5.jpg">
                                <img class="img-layouts img-responsive"  src="~/img/shishim/layouts/1k-38,5.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>1-комнатная квартира</b></h3>
                            <p>Площадь - 38.5 м²</p>
                        </div>
                    </div>         
                    <div class="col-md-4 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="layouts" href="~/img/shishim/layouts/1k-47,8.jpg">
                                <img class="img-layouts img-responsive" src="~/img/shishim/layouts/1k-47,8.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>1-комнатная квартира</b></h3>
                            <p>Площадь - 47.8 м²</p>
                        </div>
                    </div>  
                    <div class="col-md-4 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="layouts" href="~/img/shishim/layouts/1k-48,4.jpg">
                                <img class="img-layouts img-responsive" src="~/img/shishim/layouts/1k-48,4.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>1-комнатная квартира</b></h3>
                            <p>Площадь - 48.4 м²</p>
                        </div>
                    </div>  
                    <div class="col-md-4 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="layouts" href="~/img/shishim/layouts/1k-49,4.jpg">
                                <img class="img-layouts img-responsive" src="~/img/shishim/layouts/1k-49,4.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>1-комнатная квартира</b></h3>
                            <p>Площадь - 49.4 м²</p>
                        </div>
                    </div>  
                    <div class="col-md-4 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="layouts" href="~/img/shishim/layouts/2k-57,3.jpg">
                                <img class="img-layouts img-responsive" src="~/img/shishim/layouts/2k-57,3.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>2-комнатная квартира</b></h3>
                            <p>Площадь - 57.3 м²</p>
                        </div>
                    </div>  
                    <div class="col-md-4 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="layouts" href="~/img/shishim/layouts/2k-58,6.jpg">
                                <img class="img-layouts img-responsive" src="~/img/shishim/layouts/2k-58,6.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>2-комнатная квартира</b></h3>
                            <p>Площадь - 58.6 м²</p>
                        </div>
                    </div> 
                    <div class="col-md-4 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="layouts" href="~/img/shishim/layouts/2k-58,8.jpg">
                                <img class="img-layouts img-responsive" src="~/img/shishim/layouts/2k-58,8.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>2-комнатная квартира</b></h3>
                            <p>Площадь - 58.8 м²</p>
                        </div>
                    </div> 
                    <div class="col-md-4 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="layouts" href="~/img/shishim/layouts/2k-59,2.jpg">
                                <img class="img-layouts img-responsive" src="~/img/shishim/layouts/2k-59,2.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>2-комнатная квартира</b></h3>
                            <p>Площадь - 59.2 м²</p>
                        </div>
                    </div> 
                    <div class="col-md-4 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="layouts" href="~/img/shishim/layouts/2k-60,2.jpg">
                                <img class="img-layouts img-responsive" src="~/img/shishim/layouts/2k-60,2.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>2-комнатная квартира</b></h3>
                            <p>Площадь - 60.2 м²</p>
                        </div>
                    </div> 
                    <div class="col-md-4 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="layouts" href="~/img/shishim/layouts/2k-60,3.jpg">
                                <img class="img-layouts img-responsive" src="~/img/shishim/layouts/2k-60,3.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>2-комнатная квартира</b></h3>
                            <p>Площадь - 60.3 м²</p>
                        </div>
                    </div> 
                    <div class="col-md-4 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="layouts" href="~/img/shishim/layouts/2k-64,5.jpg">
                                <img class="img-layouts img-responsive" src="~/img/shishim/layouts/2k-64,5.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>2-комнатная квартира</b></h3>
                            <p>Площадь - 64.5 м²</p>
                        </div>
                    </div> 
                    <div class="col-md-4 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="layouts" href="~/img/shishim/layouts/2k-64.jpg">
                                <img class="img-layouts img-responsive" src="~/img/shishim/layouts/2k-64.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>2-комнатная квартира</b></h3>
                            <p>Площадь - 64 м²</p>
                        </div>
                    </div> 
                    <div class="col-md-4 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="layouts" href="~/img/shishim/layouts/2k-65,9.jpg">
                                <img class="img-layouts img-responsive" src="~/img/shishim/layouts/2k-65,9.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>2-комнатная квартира</b></h3>
                            <p>Площадь - 65.9 м²</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="layouts" href="~/img/shishim/layouts/3k-77,2.jpg">
                                <img class="img-layouts img-responsive" src="~/img/shishim/layouts/3k-77,2.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>3-комнатная квартира</b></h3>
                            <p>Площадь - 77.2 м²</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="layouts" href="~/img/shishim/layouts/3k-82,9.jpg">
                                <img class="img-layouts img-responsive" src="~/img/shishim/layouts/3k-82,9.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>3-комнатная квартира</b></h3>
                            <p>Площадь - 82.9 м²</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="layouts" href="~/img/shishim/layouts/3k-85,5.jpg">
                                <img class="img-layouts img-responsive" src="~/img/shishim/layouts/3k-85,5.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>3-комнатная квартира</b></h3>
                            <p>Площадь - 85.5 м²</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="layouts" href="~/img/shishim/layouts/3k-85,9.jpg">
                                <img class="img-layouts img-responsive" src="~/img/shishim/layouts/3k-85,9.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>3-комнатная квартира</b></h3>
                            <p>Площадь - 85.9 м²</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="layouts" href="~/img/shishim/layouts/3k-86,3.jpg">
                                <img class="img-layouts img-responsive" src="~/img/shishim/layouts/3k-86,3.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>3-комнатная квартира</b></h3>
                            <p>Площадь - 86.3 м²</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="layouts" href="~/img/shishim/layouts/3k-87,7.jpg">
                                <img class="img-layouts img-responsive" src="~/img/shishim/layouts/3k-87,7.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>3-комнатная квартира</b></h3>
                            <p>Площадь - 87.7 м²</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="layouts" href="~/img/shishim/layouts/4k-116,7.jpg">
                                <img class="img-layouts img-responsive" src="~/img/shishim/layouts/4k-116,7.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>4-комнатная квартира</b></h3>
                            <p>Площадь - 116.7 м²</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="layouts" href="~/img/shishim/layouts/4k-121,1.jpg">
                                <img class="img-layouts img-responsive" src="~/img/shishim/layouts/4k-121,1.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>4-комнатная квартира</b></h3>
                            <p>Площадь - 121.1 м²</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="layouts" href="~/img/shishim/layouts/st-33,1.jpg">
                                <img class="img-layouts img-responsive" src="~/img/shishim/layouts/st-33,1.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>Квартира-студия</b></h3>
                            <p>Площадь - 33.1 м²</p>
                        </div>
                    </div>


                </div>
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>