﻿<section class="services" id="map">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h2>Расположение комплекса на карте</h2>
                <hr class="small">
            </div>
        </div>
    </div>
    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A765b75aa176371311b86dc9d31a2657f552981df094a8950627d23b4e86b7419&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
</section>