﻿<section class="services" id="about">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h2>О комплексе</h2>
                <hr class="small">
                <p>
                    Современный, яркий комплекс выполненый в европейской композиции,объединяющая 4 дома переменной этажности. Интерьеры холов оформленны по индивидуальным проектам.
                    Охраняемая територия с детскими игровыми площадками и прогулочной зоной.<br/> 
                    Для удобства и комфорта жителей квартала на первых этажах распологаютсякоммерческие помещения под магазины и кафе.<br/>
                    Паркинг будет рассположен по периметру Жилого комплекса.   															
                </p>
            </div>
        </div>
    </div>
</section>