﻿<section id="layouts" class="layouts">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2>Планировки</h2>
                <hr class="small">
                <div class="row">
                    <div class="col-md-4 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="layouts" href="~/img/suhodolsky/layouts/1k-42,1.jpg">
                                <img class="img-layouts img-responsive"  src="~/img/suhodolsky/layouts/1k-42,1.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>1-комнатная квартира</b></h3>
                            <p>Площадь - 42.1 м²</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="layouts" href="~/img/suhodolsky/layouts/1k-42,3.jpg">
                                <img class="img-layouts img-responsive" src="~/img/suhodolsky/layouts/1k-42,3.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>1-комнатная квартира</b></h3>
                            <p>Площадь - 42.3 м²</p>
                        </div>
                    </div>

                    <div class="col-md-4 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="layouts" href="~/img/suhodolsky/layouts/1k-43,7.jpg">
                                <img class="img-layouts img-responsive" src="~/img/suhodolsky/layouts/1k-43,7.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>1-комнатная квартира</b></h3>
                            <p>Площадь - 43.7 м²</p>
                        </div>
                    </div>

                    <div class="col-md-4 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="layouts" href="~/img/suhodolsky/layouts/1k-46,3.jpg">
                                <img class="img-layouts img-responsive" src="~/img/suhodolsky/layouts/1k-46,3.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>1-комнатная квартира</b></h3>
                            <p>Площадь - 46.3 м²</p>
                        </div>
                    </div>

                    <div class="col-md-4 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="layouts" href="~/img/suhodolsky/layouts/1k-48,1.jpg">
                                <img class="img-layouts img-responsive" src="~/img/suhodolsky/layouts/1k-48,1.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>1-комнатная квартира</b></h3>
                            <p>Площадь - 48.1 м²</p>
                        </div>
                    </div>

                    <div class="col-md-4 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="layouts" href="~/img/suhodolsky/layouts/1k-48,7.jpg">
                                <img class="img-layouts img-responsive" src="~/img/suhodolsky/layouts/1k-48,7.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>1-комнатная квартира</b></h3>
                            <p>Площадь - 48.7 м²</p>
                        </div>
                    </div>

                    <div class="col-md-4 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="layouts" href="~/img/suhodolsky/layouts/2k-57,3.jpg">
                                <img class="img-layouts img-responsive" src="~/img/suhodolsky/layouts/2k-57,3.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>2-комнатная квартира</b></h3>
                            <p>Площадь - 57.3 м²</p>
                        </div>
                    </div>

                    <div class="col-md-4 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="layouts" href="~/img/suhodolsky/layouts/2k-58,5.jpg">
                                <img class="img-layouts img-responsive" src="~/img/suhodolsky/layouts/2k-58,5.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>2-комнатная квартира</b></h3>
                            <p>Площадь - 58.5 м²</p>
                        </div>
                    </div>

                    <div class="col-md-4 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="layouts" href="~/img/suhodolsky/layouts/2k-61.7.jpg">
                                <img class="img-layouts img-responsive" src="~/img/suhodolsky/layouts/2k-61.7.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>2-комнатная квартира</b></h3>
                            <p>Площадь - 61.7 м²</p>
                        </div>
                    </div>

                    <div class="col-md-4 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="layouts" href="~/img/suhodolsky/layouts/2k-64,3.jpg">
                                <img class="img-layouts img-responsive" src="~/img/suhodolsky/layouts/2k-64,3.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>2-комнатная квартира</b></h3>
                            <p>Площадь - 64.3 м²</p>
                        </div>
                    </div>

                    <div class="col-md-4 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="layouts" href="~/img/suhodolsky/layouts/2k-65,1.jpg">
                                <img class="img-layouts img-responsive" src="~/img/suhodolsky/layouts/2k-65,1.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>2-комнатная квартира</b></h3>
                            <p>Площадь - 65.1 м²</p>
                        </div>
                    </div>

                    <div class="col-md-4 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="layouts" href="~/img/suhodolsky/layouts/2k-65,4.jpg">
                                <img class="img-layouts img-responsive" src="~/img/suhodolsky/layouts/2k-65,4.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>2-комнатная квартира</b></h3>
                            <p>Площадь - 65.4 м²</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="layouts" href="~/img/suhodolsky/layouts/2k-69.7.jpg">
                                <img class="img-layouts img-responsive" src="~/img/suhodolsky/layouts/2k-69.7.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>2-комнатная квартира</b></h3>
                            <p>Площадь - 69.7 м²</p>
                        </div>
                    </div>

                    <div class="col-md-4 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="layouts" href="~/img/suhodolsky/layouts/2k-71,6.jpg">
                                <img class="img-layouts img-responsive" src="~/img/suhodolsky/layouts/2k-71,6.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>2-комнатная квартира</b></h3>
                            <p>Площадь - 71.6 м²</p>
                        </div>
                    </div>

                    <div class="col-md-4 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="layouts" href="~/img/suhodolsky/layouts/2k-75,7.jpg">
                                <img class="img-layouts img-responsive" src="~/img/suhodolsky/layouts/2k-75,7.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>2-комнатная квартира</b></h3>
                            <p>Площадь - 75.7 м²</p>
                        </div>
                    </div>

                    <div class="col-md-4 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="layouts" href="~/img/suhodolsky/layouts/3k-76.jpg">
                                <img class="img-layouts img-responsive" src="~/img/suhodolsky/layouts/3k-76.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>3-комнатная квартира</b></h3>
                            <p>Площадь - 76 м²</p>
                        </div>
                    </div>

                    <div class="col-md-4 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="layouts" href="~/img/suhodolsky/layouts/3k-87,8.jpg">
                                <img class="img-layouts img-responsive" src="~/img/suhodolsky/layouts/3k-87,8.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>3-комнатная квартира</b></h3>
                            <p>Площадь - 87.7 м²</p>
                        </div>
                    </div>

                    <div class="col-md-4 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="layouts" href="~/img/suhodolsky/layouts/3k-89.jpg">
                                <img class="img-layouts img-responsive" src="~/img/suhodolsky/layouts/3k-89.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>3-комнатная квартира</b></h3>
                            <p>Площадь - 89 м²</p>
                        </div>
                    </div>

                    <div class="col-md-4 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="layouts" href="~/img/suhodolsky/layouts/3k-97,5.jpg">
                                <img class="img-layouts img-responsive" src="~/img/suhodolsky/layouts/3k-97,5.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>3-комнатная квартира</b></h3>
                            <p>Площадь - 97.5 м²</p>
                        </div>
                    </div>

                    <div class="col-md-4 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="layouts" href="~/img/suhodolsky/layouts/st-31,9.jpg">
                                <img class="img-layouts img-responsive" src="~/img/suhodolsky/layouts/st-31,9.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>Квартира студия</b></h3>
                            <p>Площадь - 31.9 м²</p>
                        </div>
                    </div>


                </div>
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>