﻿<section class="services" id="map">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h2>Расположение комплекса на карте</h2>
                <hr class="small">
            </div>
        </div>
    </div>
    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A44b4b1cd0dd336c46bf0df88063b3f76f96b559012d70c358e0bad6a557e30dc&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
</section>