﻿<section class="services" id="about">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h2>О комплексе</h2>
                <hr class="small">
                <p>
                    Жилой квартал Солнечный это - современный яркий комплекс выполненый в европейском стиле компанией застройщика "Брусника". <br/>
                    Жилой квартал Солнечный представляет собой 2 дома переменной этажностью с игровыми спортивными пложадками разной возрастной категории, 
                    прогулочными зонами и закрытым двором без машин. <br />
                    Паркинг будет рассположен по периметру Жилого комплекса Для удобства и комфорта жителей квартала на первых этажах распологаются коммерческие помещения под магазины и кафе.       															
                </p>
            </div>
        </div>
    </div>
</section>