﻿<section id="decorations" class="decorations">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2>Отделка</h2>
                <hr class="small">
                <div class="row">
                    <div class="col-md-6 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="decorations" href="img/suhodolsky/decorations/2.jpg">
                                <img class="img-layouts img-responsive"  src="img/suhodolsky/decorations/2.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>Стены и пол.</b></h3>
                            <p>Стены отштукатурены, частично гипсокартон.</p>
                            <p> Пол - сухая стяжка, технология "Knauf-супер пол". Потолок - отшлифованная монолитная плита.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12 ">
                        <div class="layouts-item">
                            
                            <a data-lightbox="decorations" href="img/malevich/decorations/decoration6.jpg">
                                <img class="img-layouts img-responsive" src="img/malevich/decorations/decoration6.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>Трубы и счетчики</b></h3>
                            <p>Горизонтальная разводка труб теплоснабжения в стяжке,установка радиаторов отопления с терморегуляторами, установка счетчиков холодной, горячей воды и отопления.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="decorations" href="~/img/solnechny/electro.jpg">
                                <img class="img-layouts img-responsive" src="~/img/solnechny/electro.jpg">
                            </a>                            
                        </div>
                        <div class="caption">
                            <h3><b>Электроснабжение</b></h3>
                            <p>Разводка электроснабжения по квартире, вывод разеток и включателей.</p>
                            <p>Установка счетчиков электроснабжения.</p>
                        </div>
                    </div>
                    
                    <div class="col-md-6 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="decorations" href="~/img/suhodolsky/decorations/1.jpg">
                                <img class="img-layouts img-responsive" src="~/img/suhodolsky/decorations/1.jpg">
                            </a>                              
                        </div>
                        <div class="caption">
                            <h3><b>Окна и двери</b></h3>
                            <p>Установка двухкамерных стеклопакетов, подоконников и откосов.</p>
                            <p>Остекление балкона/лоджии. Входная сейф-дверь с фурнитурой "Apecs". </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>