﻿<section id="layouts" class="layouts">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2>Планировки</h2>
                <hr class="small">
                <div class="row">
                    <div class="col-md-4 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="layouts" href="~/img/solnechny/layouts/1k-40,2.jpg">
                                <img class="img-layouts img-responsive"  src="~/img/solnechny/layouts/1k-40,2.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>1-комнатная квартира</b></h3>
                            <p>Площадь - 40.2 м²</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="layouts" href="~/img/solnechny/layouts/1k-46,6.jpg">
                                <img class="img-layouts img-responsive" src="~/img/solnechny/layouts/1k-46,6.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>1-комнатная квартира</b></h3>
                            <p>Площадь - 46.6 м²</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="layouts" href="~/img/solnechny/layouts/1k-48,5.jpg">
                                <img class="img-layouts img-responsive" src="~/img/solnechny/layouts/1k-48,5.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>1-комнатная квартира</b></h3>
                            <p>Площадь - 48.5 м²</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="layouts" href="~/img/solnechny/layouts/1k-48,9.jpg">
                                <img class="img-layouts img-responsive" src="~/img/solnechny/layouts/1k-48,9.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>1-комнатная квартира</b></h3>
                            <p>Площадь - 48.9 м²</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="layouts" href="~/img/solnechny/layouts/2k-53,6.jpg">
                                <img class="img-layouts img-responsive" src="~/img/solnechny/layouts/2k-53,6.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>2-комнатная квартира</b></h3>
                            <p>Площадь - 53.6 м²</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="layouts" href="~/img/solnechny/layouts/2k-58,2.jpg">
                                <img class="img-layouts img-responsive" src="~/img/solnechny/layouts/2k-58,2.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>2-комнатная квартира</b></h3>
                            <p>Площадь - 58.2 м²</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="layouts" href="~/img/solnechny/layouts/2k-61,4.jpg">
                                <img class="img-layouts img-responsive" src="~/img/solnechny/layouts/2k-61,4.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>2-комнатная квартира</b></h3>
                            <p>Площадь - 61.4 м²</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="layouts" href="~/img/solnechny/layouts/2k-64,8.jpg">
                                <img class="img-layouts img-responsive" src="~/img/solnechny/layouts/2k-64,8.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>2-комнатная квартира</b></h3>
                            <p>Площадь - 64.8 м²</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="layouts" href="~/img/solnechny/layouts/2k-67,8.jpg">
                                <img class="img-layouts img-responsive" src="~/img/solnechny/layouts/2k-67,8.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>2-комнатная квартира</b></h3>
                            <p>Площадь - 67.8 м²</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="layouts" href="~/img/solnechny/layouts/2k-70.4.jpg">
                                <img class="img-layouts img-responsive" src="~/img/solnechny/layouts/2k-70.4.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>2-комнатная квартира</b></h3>
                            <p>Площадь - 70.4 м²</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="layouts" href="~/img/solnechny/layouts/3k-73,9.jpg">
                                <img class="img-layouts img-responsive" src="~/img/solnechny/layouts/3k-73,9.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>3-комнатная квартира</b></h3>
                            <p>Площадь - 73.9 м²</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="layouts" href="~/img/solnechny/layouts/3k-90.1.jpg">
                                <img class="img-layouts img-responsive" src="~/img/solnechny/layouts/3k-90.1.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>3-комнатная квартира</b></h3>
                            <p>Площадь - 90.1 м²</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="layouts" href="~/img/solnechny/layouts/s-27,1.jpg">
                                <img class="img-layouts img-responsive" src="~/img/solnechny/layouts/s-27,1.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>Квартира-студия</b></h3>
                            <p>Площадь - 27.1 м²</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="layouts" href="~/img/solnechny/layouts/s-36,2.jpg">
                                <img class="img-layouts img-responsive" src="~/img/solnechny/layouts/s-36,2.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>Квартира-студия</b></h3>
                            <p>Площадь - 36.2 м²</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>