﻿<section class="services" id="partnerInfo">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h2>Партнерская информация</h2>
                <p>
                    Жилой комплекс "Солнечный" находится в самой Южной части города в районе "Солнечный"
                    <br>
                    Приобрести квартиру от застройщика "Брусника" в ЖК "Солнечный" можно, нужно только захотеть и выбрать удобную систему оплаты для вас: наличные, ипотека, рассрочка, или по системе трейд-ин.
                    <br>
                    С планировками можно ознакомиться на нашем портале, цены и наличие уточняйте у менеджера. Проектную декларацию вы можете найти на официальном сайте застройщика "Брусника.Екатеринбург".
                    <br>
                    Портал "Он-лайн Недвижимость" является официальным партнером застройщика ООО "Брусника.Екатеринбург".
                    <br>
                    Вы так же можете ознакомиться с другими новостройками от надежных застройщиков города Екатеринбурга.
                </p>
            </div>
        </div>
    </div>
</section>