﻿<section id="decorations" class="decorations">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2>Район</h2>
                <hr class="small">
                <div class="row">
                    <div class="col-md-6 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="decorations" href="~/img/solnechny/photo/dvor.jpg">
                                <img class="img-layouts img-responsive"  src="~/img/solnechny/photo/dvor.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>Собственное пространство</b></h3>
                            <p>Собственное пространство - территория квартала огороженна забором</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="decorations" href="~/img/solnechny/photo/dvor2.jpg">
                                <img class="img-layouts img-responsive" src="~/img/solnechny/photo/dvor2.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>Благоустроенные дворы.</b></h3>
                            <p> Внутри ЖК - прогулочные зоны и детские площадки</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="decorations" href="~/img/solnechny/photo/sad.jpg">
                                <img class="img-layouts img-responsive" src="~/img/solnechny/photo/sad.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>Ландшафтный дизайн.</b></h3>
                            <p>Устроены газоны, цветочные клумбы, посажанны деревья и декаративные кустарники.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="decorations" href="~/img/solnechny/photo/podiezd.jpg">
                                <img class="img-layouts img-responsive" src="~/img/solnechny/photo/podiezd.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>Теплые подьезды</b></h3>
                            <p>Теплые подьезды - на каждом этаже установлен радиатор отопления</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>