﻿<section class="services" id="about">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h2>О комплексе</h2>
                <hr class="small">
                <p>
                    ЖК Малевич - красочный, яркий, солнечный жилой комплекс расположенный на границе центрального и кировского районов города. 
                    <br>
                    Комплекс состоит из 5 домов, на территории жилого комплекса размещенны два многоуровневых наземных паркинга.
                    Внутридомовая территория выполнена в концепции «двор без машин». 
                    <br>
                    Во дворе уникальная детская площадка от датской фирмы, а также высаженны деревья и кустарники круглосуточные
                    охрана консьерж-сервис помогут сделать вашу жизнь в жилом комплексе Малевич спокойной безопасной и комфортной!
                </p>
            </div>
        </div>
    </div>
</section>