﻿<section id="layouts" class="layouts">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2>Планировки</h2>
                <hr class="small">
                <div class="row">
                    <div class="col-md-4 col-xs-12 ">
                        <div class="layouts-item">
                            <a data-lightbox="layouts" href="img/malevich/layouts/1k_43.jpg">
                                <img class="img-layouts img-responsive"  src="img/malevich/layouts/1k_43.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>1-комнатная квартира</b></h3>
                            <p>Площадь - 43 м²</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <div class="layouts-item">
                            <a data-lightbox="layouts" href="img/malevich/layouts/1k_44.jpg">
                                <img class="img-layouts img-responsive"   src="img/malevich/layouts/1k_44.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>1-комнатная квартира</b></h3>
                            <p>Площадь - 44 м²</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <div class="layouts-item">
                            <a data-lightbox="layouts" href="img/malevich/layouts/1k_45_5.jpg">
                                <img class="img-layouts img-responsive"  src="img/malevich/layouts/1k_45_5.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>1-комнатная квартира</b></h3>
                            <p>Площадь - 45.5 м²</p>
                        </div>
                    </div>

                    <div class="col-md-4 col-xs-12">
                        <div class="layouts-item">
                            <a data-lightbox="layouts" href="img/malevich/layouts/2k_66_3.jpg" >
                                <img class="img-layouts img-responsive" src="img/malevich/layouts/2k_66_3.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>2-комнатная квартира</b></h3>
                            <p>Площадь - 66.3 м²</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <div class="layouts-item">
                            <a data-lightbox="layouts" href="img/malevich/layouts/2k_67_1.jpg">
                                <img class="img-layouts img-responsive"  src="img/malevich/layouts/2k_67_1.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>2-комнатная квартира</b></h3>
                            <p>Площадь - 67.1 м²</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <div class="layouts-item">
                            <a data-lightbox="layouts" href="img/malevich/layouts/2k_67_3.jpg">
                                <img class="img-layouts img-responsive"  src="img/malevich/layouts/2k_67_3.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><b>2-комнатная квартира</b></h3>
                            <p>Площадь - 67.3 м²</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <div class="layouts-item">
                            <a data-lightbox="layouts" href="img/malevich/layouts/3k_99_1.jpg">
                            <img class="img-layouts img-responsive"  src="img/malevich/layouts/3k_99_1.jpg">
                            </a>
                            
                        </div>
                        <div class="caption">
                            <h3><b>3-комнатная квартира</b></h3>
                            <p>Площадь - 99.1 м²</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>