﻿<section class="services" id="partnerInfo">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h2>Партнерская информация</h2>
                <p>
                    Жилой комплекс "Малевич" находится на границе районов Пионерский - Центр.
                    <br>
                    Приобрести квартиру от застройщика "Prinzip" в ЖК "Малевич" можно, нужно только захотеть и выбрать удобную систему оплаты для вас: наличные, ипотека, рассрочка, или по системе трейд-ин.
                    <br>
                    С планировками можно ознакомиться на нашем портале, цены и наличие уточняйте у менеджера. Проектную декларацию вы можете найти на официальном сайте застройщика "Prinzip-недвижимость".
                    <br>
                    Портал "Он-лайн Недвижимость" является официальным партнером застройщика "Prinzip-недвижимость".
                    <br>
                    Вы так же можете ознакомиться с другими новостройками от надежных застройщиков города Екатеринбурга
                </p>
            </div>
        </div>
    </div>
</section>