﻿<!-- About -->
<section id="about" class="about">
    <div class="container">
        <div class="row text-center">
            <div class="col-xs-12 text-center">
                <h2>Главный портал новостроек</h2>
                <br>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-xs-12 col-sm-3">
                <div class="service-item">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-thumbs-o-up fa-stack-1x text-primary"></i>
                    </span>
                    <h4>
                        <strong>Надежные застройщики</strong>
                    </h4>
                    <p>Партнерство с застройщиками, хорошо зарекомендовавшими себя на рынке недвижимости</p>
                </div>
            </div>
            <div class="col-xs-12  col-sm-3">
                <div class="service-item">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-eye fa-stack-1x text-primary"></i>
                    </span>
                    <h4>
                        <strong>Эксклюзивные предложения</strong>
                    </h4>
                    <p>Наличие эксклюзивных предложений одних из лучших г.Екатеринбурга</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 ">
                <div class="service-item">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-university fa-stack-1x text-primary"></i>
                    </span>
                    <h4>
                        <strong>Крупные банки-партнеры</strong>
                    </h4>
                    <p>Взаимодействие с крупными банками партнерами: Сбербанк, ВТБ24, Газпромбанк и другими</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3">
                <div class="service-item">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-handshake-o fa-stack-1x text-primary"></i>
                    </span>
                    <h4>
                        <strong>Индивидуальный подход</strong>
                    </h4>
                    <p>Индивидуальный подход и долгосрочные отношения с клиентами и партнерами</p>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>