﻿<!-- Header -->
    <header id="top" class="header main-page-header">
        <div class="text-vertical-center">
                <h1 class="bordered">Главный портал новостроек</h1>
                <h3 class="bordered">Новостройки Екатеринбурга</h3>
                <br>
            <a href="#about" class="btn btn-dark btn-lg">Подробнее</a>
        </div>
    </header>