﻿<section class="services" id="map">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h2>Найдите квартиру на карте</h2>
                <hr class="small">
            </div>
        </div>
    </div>
    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aa48dd419504741ea512ef755fd7c15f60cf18ce9aecdd90c63ae29a0f538f828&amp;width=100%25&amp;height=494&amp;lang=ru_RU&amp;scroll=true"></script>
</section>