﻿<!-- Mortgage -->
<section id="Mortgage" class="about">
    <div class="container">
        <div class="row text-center">
            <div class="col-xs-12 text-center">
                <h2>Как правильно купить квартиру в ипотеку</h2>
                <br>
                <h4>Наш специалист проконсультирует вас по имеющимся предложениям, составу пакета документов для подачи заявления и при необходимости будет сопровождать вашу сделку с банком</h4>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-xs-12 col-sm-3">
                <div class="service-item">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-rub fa-stack-1x text-primary"></i>
                    </span>
                    <h4>
                        <strong>Ипотека дешевле чем в банке</strong>
                    </h4>
                </div>
            </div>
            <div class="col-xs-12  col-sm-3">
                <div class="service-item">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-check-circle-o fa-stack-1x text-primary"></i>
                    </span>
                    <h4>
                        <strong>Страхование по ипотеке со скидкой до 70%</strong>
                    </h4>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 ">
                <div class="service-item">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-percent fa-stack-1x text-primary"></i>
                    </span>
                    <h4>
                        <strong>Ипотека с первоначальным взносом от 0%</strong>
                    </h4>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3">
                <div class="service-item">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-star fa-stack-1x text-primary"></i>
                    </span>
                    <h4>
                        <strong>Военная ипотека</strong>
                    </h4>
                </div>
            </div>
                        <div class="col-xs-12 col-sm-3">
                <div class="service-item">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-money fa-stack-1x text-primary"></i>
                    </span>
                    <h4>
                        <strong>Ипотека без потверждения дохода</strong>
                    </h4>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3">
                <div class="service-item">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-file-text-o  fa-stack-1x text-primary"></i>
                    </span>
                    <h4>
                        <strong>Ипотека по двум документам</strong>
                    </h4>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3">
                <div class="service-item">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-calendar fa-stack-1x text-primary"></i>
                    </span>
                    <h4>
                        <strong>Ипотека от 12 месяцев до 30 лет</strong>
                    </h4>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3">
                <div class="service-item">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-child fa-stack-1x text-primary"></i>
                    </span>
                    <h4>
                        <strong>Использование материнского капитала </strong>
                    </h4>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>