﻿@{
ViewData["Title"] = "Он-лайн Недвижимость";
Layout = "_Layout";
}

@section AddToHead{
<link href="@Url.Content("~/css/stylish-portfolio.css")" rel="stylesheet" type="text/css" />
}

<div class="container text-justify">

    <div class="text-center">
        <h1>Политика конфиденциальности</h1>
    </div>

    <h4 class="text-right">
        г. Екатеринбург «03» августа 2017 г.
    </h4>
    <h4>
        Настоящая Политика конфиденциальности персональных данных (далее – Политика конфиденциальности) действует в
        отношении всей информации, которую портал «Он-лайн Недвижимость», расположенный на доменном имени on-estate.ru, может
        получить о Пользователе во время использования сайта.
    </h4>
    <h2>1. ОПРЕДЕЛЕНИЕ ТЕРМИНОВ</h2>

    <h3>1.1 В настоящей Политике конфиденциальности используются следующие термины:</h3>
    <h5>1.1.1. «Администрация сайта Новостроек «Он-лайн Недвижимость» (далее – Администрация сайта)» – уполномоченные сотрудники на управления
        сайтом, которые организуют и (или) осуществляет обработку персональных данных, а также определяет цели обработки
        персональных данных, состав персональных данных, подлежащих обработке, действия (операции), совершаемые с
        персональными данными.</h5>
    <h5>1.1.2. «Персональные данные» - любая информация, относящаяся к прямо или косвенно определенному или
        определяемому
        физическому лицу (субъекту персональных данных).</h5>
    <h5>1.1.3. «Обработка персональных данных» - любое действие (операция) или совокупность действий (операций),
        совершаемых
        с использованием средств автоматизации или без использования таких средств с персональными данными, включая
        сбор,
        запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование,
        передачу
        (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных
        данных.</h5>
    <h5>1.1.4. «Конфиденциальность персональных данных» - обязательное для соблюдения Оператором или иным получившим
        доступ
        к персональным данным лицом требование не допускать их распространения без согласия субъекта персональных данных
        или
        наличия иного законного основания.</h5>
    <h5>1.1.5. «Пользователь сайта Новостроек (далее Пользователь)» – лицо, имеющее доступ к Сайту, посредством сети
        Интернет и использующее Сайт Новостроек.</h5>
    <h5>1.1.6. «Cookies» — небольшой фрагмент данных, отправленный веб-сервером и хранимый на компьютере пользователя,
        который веб-клиент или веб-браузер каждый раз пересылает веб-серверу в HTTP-запросе при попытке открыть страницу
        соответствующего сайта.</h5>
    <h5>1.1.7. «IP-адрес» — уникальный сетевой адрес узла в компьютерной сети, построенной по протоколу IP.</h5>
    <h2>2. ОБЩИЕ ПОЛОЖЕНИЯ</h2>
    <h4>2.1. Использование Пользователем сайта Новостроек означает согласие с настоящей Политикой конфиденциальности и
        условиями обработки персональных данных Пользователя.</h4>
    <h4>2.2. В случае несогласия с условиями Политики конфиденциальности Пользователь должен прекратить
        использование сайта
        Новостроек.</h4>
    <h4>2.3.Настоящая Политика конфиденциальности применяется только к сайту Новостроек «Он-лайн Недвижимость». Сайт не
        контролирует и не несет ответственность за сайты третьих лиц, на которые Пользователь может перейти по ссылкам, доступным на 
        сайте Новостроек.</h4>
    <h4>2.4. Администрация сайта не проверяет достоверность персональных данных, предоставляемых Пользователем сайта
        Новостроек.</h4>

    <h2>3. ПРЕДМЕТ ПОЛИТИКИ КОНФИДЕНЦИАЛЬНОСТИ</h2>

    <h4>3.1. Настоящая Политика конфиденциальности устанавливает обязательства Администрации сайта по
        неразглашению и обеспечению режима защиты конфиденциальности персональных данных, которые Пользователь
        предоставляет
        по запросу Администрации сайта при оформлении заявки на обратный звонок.</h4>
    <h4>3.2. Персональные данные, разрешённые к обработке в рамках настоящей Политики конфиденциальности,
        предоставляются
        Пользователем путём заполнения формы обратного звонка на Сайте Новостроек «Он-лайн Недвижимость» в разделе «Обратный
        звонок»
        и включают в себя следующую информацию:</h4>
    <h5>3.2.1. Имя Пользователя;</h5>
    <h5>3.2.2. контактный телефон Пользователя;</h5>
    <h5>3.3. Сайт Новостроек защищает Данные, которые автоматически передаются в процессе просмотра рекламных блоков и
        при
        посещении страниц, на которых установлен статистический скрипт системы ("yandex"):</h5>
    <ul>
        <li>IP адрес;</li>
        <li>информация из cookies;</li>
        <li>информация о браузере (или иной программе, которая осуществляет доступ к показу рекламы);</li>
        <li>время доступа;</li>
        <li>адрес страницы, которую посетил пользователь;</li>
        <li>реферер (адрес предыдущей страницы).</li>
    </ul>

    <h5>3.3.1. Отключение cookies может повлечь невозможность доступа к частям сайта Новостроек.</h5>
    <h4>3.4. Любая иная персональная информация неоговоренная выше (имя пользователя, контактные данные) подлежит
        надежному
        хранению и нераспространению, за исключением случаев, предусмотренных в п.п. 5.2. и 5.3. настоящей Политики
        конфиденциальности.</h4>
    <h2>4. ЦЕЛИ СБОРА ПЕРСОНАЛЬНОЙ ИНФОРМАЦИИ ПОЛЬЗОВАТЕЛЯ</h2>
    <h4>4.1. Персональные данные Пользователя Администрация сайта Новостроек может использовать в целях:</h4>
    <h5>4.1.1. Установления с Пользователем обратной связи, включая направление уведомлений, запросов, касающихся
        использования Сайта Новостроек, оказания услуг, обработка запросов и заявок от Пользователя.</h5>
    <h5>4.1.2. Предоставления Пользователю доступа к персонализированным ресурсам Сайта Новостроек.</h5>
    <h5>4.1.3. Подтверждения достоверности и полноты персональных данных, предоставленных Пользователем.</h5>
    <h5>4.1.4. Предоставления Пользователю эффективной клиентской и технической поддержки при возникновении проблем
        связанных с использованием Сайта Новостроек.</h5>
    <h5>4.1.5. Предоставления Пользователю с его согласия, обновлений продукции, специальных предложений, информации о
        ценах, новостной рассылки и иных сведений от имени Сайта Новостроек или от имени партнеров Сайта
        Новостроек.</h5>
    <h5>4.1.6. Осуществления рекламной деятельности с согласия Пользователя.</h5>
    <h5>4.1.7. Предоставления доступа Пользователю на сайты или сервисы партнеров Сайта Новостроек с целью получения
        продуктов, обновлений и услуг.</h5>
    <h2>5. СПОСОБЫ И СРОКИ ОБРАБОТКИ ПЕРСОНАЛЬНОЙ ИНФОРМАЦИИ</h2>
    <h4>5.1. Обработка персональных данных Пользователя осуществляется без ограничения срока, любым законным способом, в
        том
        числе в информационных системах персональных данных с использованием средств автоматизации или без использования
        таких средств.</h4>
    <h4>5.2. Пользователь соглашается с тем, что Администрация сайта вправе передавать персональные данные третьим
        лицам, в
        частности, организациями почтовой связи, операторам электросвязи, исключительно в целях выполнения заявки
        пользователя, оформленной на Сайте Новостроек «Он-лайн Недвижимость».</h4>
    <h4>5.3. Персональные данные Пользователя могут быть переданы уполномоченным органам государственной власти
        Российской
        Федерации только по основаниям и в порядке, установленным законодательством Российской Федерации.</h4>
    <h4>5.4. При утрате или разглашении персональных данных Администрация сайта информирует Пользователя об утрате или
        разглашении персональных данных.</h4>
    <h4>5.5. Администрация сайта принимает необходимые организационные и технические меры для защиты персональной
        информации Пользователя от неправомерного или случайного доступа, уничтожения, изменения, блокирования,
        копирования,
        распространения, а также от иных неправомерных действий третьих лиц.</h4>
    <h4>5.6. Администрация сайта совместно с Пользователем принимает все необходимые меры по предотвращению убытков или
        иных
        отрицательных последствий, вызванных утратой или разглашением персональных данных Пользователя.</h4>
    <h2>6. ОБЯЗАТЕЛЬСТВА СТОРОН</h2>
    <h4>6.1. Пользователь обязан:</h4>
    <h5>6.1.1. Предоставить информацию о персональных данных, необходимую для пользования Сайтом Новостроек.</h5>
    <h5>6.1.2. Обновить, дополнить предоставленную информацию о персональных данных в случае изменения данной
        информации.</h5>
    <h4>6.2. Администрация сайта обязана:</h4>
    <h5>6.2.1. Использовать полученную информацию исключительно для целей, указанных в п. 4 настоящей Политики
        конфиденциальности.</h5>
    <h5>6.2.2. Обеспечить храение конфиденциальной информации в тайне, не разглашать без предварительного письменного
        разрешения Пользователя, а также не осуществлять продажу, обмен, опубликование, либо разглашение иными
        возможными
        способами переданных персональных данных Пользователя, за исключением п.п. 5.2. и 5.3. настоящей Политики
        Конфиденциальности.</h5>
    <h5>6.2.3. Принимать меры предосторожности для защиты конфиденциальности персональных данных Пользователя согласно
        порядку, обычно используемого для защиты такого рода информации в существующем деловом обороте.</h5>
    <h5>6.2.4. Осуществить блокирование персональных данных, относящихся к соответствующему Пользователю, с момента
        обращения или запроса Пользователя или его законного представителя либо уполномоченного органа по защите прав
        субъектов персональных данных на период проверки, в случае выявления недостоверных персональных данных или
        неправомерных действий.</h5>
    <h2>7. ОТВЕТСТВЕННОСТЬ СТОРОН</h2>
    <h4>7.1. Администрация сайта, не исполнившая свои обязательства, несёт ответственность за убытки, понесённые
        Пользователем в связи с неправомерным использованием персональных данных, в соответствии с законодательством
        Российской Федерации, за исключением случаев, предусмотренных п.п. 5.2., 5.3. и 7.2. настоящей Политики
        Конфиденциальности.</h4>
    <h4>7.2. В случае утраты или разглашения Конфиденциальной информации Администрация сайта не несёт ответственность,
        если данная конфиденциальная информация:</h4>
    <h5>7.2.1. Стала публичным достоянием до её утраты или разглашения.</h5>
    <h5>7.2.2. Была получена от третьей стороны до момента её получения Администрацией сайта.</h5>
    <h5>7.2.3. Была разглашена с согласия Пользователя.</h5>
    <h2>8. РАЗРЕШЕНИЕ СПОРОВ</h2>
    <h4>8.1. До обращения в суд с иском по спорам, возникающим из отношений между Пользователем сайта Новостроек и
        Администрацией сайта, обязательным является предъявление претензии (письменного предложения о добровольном
        урегулировании спора).
    </h4>
    <h4>8.2 .Получатель претензии в течение 30 календарных дней со дня получения претензии, письменно уведомляет
        заявителя претензии о результатах рассмотрения претензии.</h4>
    <h4>8.3. При не достижении соглашения спор будет передан на рассмотрение в судебный орган в соответствии
        с действующим законодательством Российской Федерации.</h4>
    <h4>8.4. К настоящей Политике конфиденциальности и отношениям между Пользователем и Администрацией сайта
        применяется действующее законодательство Российской Федерации.</h4>
    <h2>9. ДОПОЛНИТЕЛЬНЫЕ УСЛОВИЯ</h2>
    <h4>9.1. Администрация сайта вправе вносить изменения в настоящую Политику конфиденциальности без
        согласия
        Пользователя.</h4>
    <h4>9.2. Новая Политика конфиденциальности вступает в силу с момента ее размещения на Сайте Новостроек,
        если иное не предусмотрено новой редакцией Политики конфиденциальности.</h4>
    <h4>9.3. Все предложения или вопросы по настоящей Политике конфиденциальности следует сообщать по адресу
        электронной почты или телефону, размещенному на сайте.</h4>
    <h4>9.4. Действующая Политика конфиденциальности размещена на странице по адресу
        www.on-estate.ru/privacy.</h4>
</div>
<br>