﻿<section id="portfolio" class="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2>Новостройки Екатеринбурга, на которые стоит обратить внимание</h2>
                <hr class="small">
                <div class="row">
                    <div class="col-md-4">
                        <div class="portfolio-item">
                            <a href="/malevich">
                                <img class="img-portfolio img-responsive" src="~/img/malevich/main.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><a href="/malevich">ЖК "Малевич"</a></h3>
                            <p>Красочный, яркий, солнечный жилой комплекс расположенный в самой гуще событий.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="portfolio-item">
                            <a href="/novatorov">
                                <img class="img-portfolio img-responsive" src="~/img/novatorov/main.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><a href="/novatorov">ЖК "Новаторов"</a></h3>
                            <p>Современный, яркий комплекс выполненый в европейской композиции.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="portfolio-item">
                            <a href="/suhodolsky">
                                <img class="img-portfolio img-responsive" src="~/img/suhodolsky/main.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><a href="/suhodolsky">ЖК "Суходольский"</a></h3>
                            <p>Современный, яркий комплекс выполненый в европейской композиции, объединяющая 4 дома переменной этажности.</p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="portfolio-item">
                            <a href="/shishim">
                                <img class="img-portfolio img-responsive" src="~/img/shishim/main.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><a href="/shishim">ЖК "Шишимская горка"</a></h3>
                            <p>Современный яркий комплекс выполненый в европейском стиле компанией застройщика "Брусника". </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="portfolio-item">
                            <a href="/solnechny">
                                <img class="img-portfolio img-responsive" src="~/img/solnechny/main.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><a href="/solnechny">ЖК "Солнечный"</a></h3>
                            <p>Современный яркий комплекс выполненый в европейском стиле компанией застройщика "Брусника". </p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="portfolio-item">
                            <a href="/svetly">
                                <img class="img-portfolio img-responsive" src="~/img/svetly/main.jpg">
                            </a>
                        </div>
                        <div class="caption">
                            <h3><a href="/svetly">ЖК "Светлый"</a></h3>
                            <p>Современный стремительно развивающийся микрорайон, в  экологически чистом районе города Екатеринбурга.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>