﻿<section id="services" class="services bg-primary">
    <div class="container">
        <div class="text-center">
            <h2>От мечты о доме к дому мечты</h2>
            <h4>
                Мы сделаем все возможное, чтобы помочь вам сориентироваться в этом нелегком процессе и сделать его максимально простым и понятным. 
            </h4>
            <h4>
                Мы всегда будем рядом с вами на пути от выбора Дома до заключения сделки
            </h4>
        </div>   
        <div class="row text-center">
            <div class="col-lg-12 col-lg-offset-2 col-md-offset-2">
                <hr class="small">
                <div class="row">
                    <div class=" col-xs-12 col-sm-4 col-md-2 col-md-2">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-phone fa-stack-1x text-primary"></i>
                            </span>
                            <h4>
                                <strong>Заявка или звонок</strong>
                            </h4>
                            <p>Оставьте заявку и наш менеджер свяжется с вами для уточнения деталей</p>
                        </div>
                    </div>
                    <div class=" col-xs-12 col-sm-4 col-md-2 ">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-question fa-stack-1x text-primary"></i>
                            </span>
                            <h4>
                                <strong>Консультация</strong>
                            </h4>
                            <p>Наш специалист проконсультирует и ответит на все ваши вопросы</p>
                        </div>
                    </div>
                    <div class=" col-xs-12 col-sm-4 col-md-2">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-credit-card fa-stack-1x text-primary"></i>
                            </span>
                            <h4>
                                <strong>Ипотека</strong>
                            </h4>
                            <p>Получение ипотечного решения на самых выгодных для вас условиях (при необходимости)</p>
                        </div>
                    </div>
                    <div class=" col-xs-12 col-sm-4 col-md-2">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-home fa-stack-1x text-primary"></i>
                            </span>
                            <h4>
                                <strong>Выбор квартиры</strong>
                            </h4>
                            <p>Экскурсия по жилым комплексам которые вас заинтересовали</p>
                        </div>
                    </div>
                    <div class=" col-xs-12 col-sm-4 col-md-2">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-handshake-o fa-stack-1x text-primary"></i>
                            </span>
                            <h4>
                                <strong>Сделка</strong>
                            </h4>
                            <p>Оформление документов, регистрация в органах юстиции, оплата</p>
                        </div>
                    </div>

                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>